.product-detail-container {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;

  display: flex;
  flex-direction: column;
}

.product-detail-item {
  width: 100%;
  margin-top: 10rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-detail-image {
  width: 40rem;
}

.product-detail-item-info {
  margin: 0 5rem;

  display: flex;
  flex-direction: column;
}

.product-detail-item-info-name {
  font-size: 6rem;
  margin-bottom: 3rem;
  color: #202020;
}

.product-detail-item-info-price {
  font-size: 3rem;
  color: #39393a;
}

.product-detail-line {
  width: 90%;
  height: 0.1rem;
  background-color: #b999d2;
  align-self: center;
  margin: 5rem 0;
}

.product-detail-category-title {
  margin: 2rem 5rem;
  font-size: 3.5rem;
  color: #202020;
}

.product-detail-category-list,
.product-detail-related-list {
  height: 40rem;
  margin: 1rem 5rem;
  overflow-x: scroll;

  display: flex;
  flex-direction: row;
}

.product-detail-link {
  text-decoration: none;
  margin: 1rem 3rem 3rem;
}