.related-product-container {
  min-width: 25rem;
  height: 85%;
  padding: 3rem 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.related-product-image {
  max-width: 12rem;
  max-height: 17rem;
}

.related-product-item-name {
  font-size: 2rem;
  color: #202020;
}

.related-product-item-price {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #39393a;
}
